{% extends 'base.html' %}
<!--  -->
{% block content%}
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Date Available</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    {% for avail in availabilities %}
    <tr>
      <td>{{avail.user}}</td>
      <td>{{avail.date_available}}</td>
      <td>{{avail.start_time}}</td>
      <td>{{avail.end_time}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
